page-view-novel {
    .header-ios .toolbar-ios:last-child .toolbar-background-ios {
        background-color: #1E2529;
    }
    #padding {
        height: 20px;
        background-color: #1E2529;
    }
    #navBar {
        height: 48px;
        padding-top: 0;
    }
    .toolbar-title-ios {
        color: white;
    }
    .back-button.show-back-button {
        color: white;
    }
    .button[icon-only] {
        color: white;
    }
    ion-navbar.toolbar{
        padding-top: 30px;
    }
    .toolbar-content-ios {
        justify-content: space-between;
        display: flex;
        align-items: center;
    }
    .button-outline-ios-light {
        width: 94px;
        height: 33px;
        margin-right: 23px;
    }
    .ion-ios-arrow-back span {
        padding-left: 20px;
        font-size: 28px;
    }
    .scroll-content {
        padding: 30px;
    }
    p {
        white-space: pre-line;
    }
}
