page-drafts {
    .scroll-content {
        background-color:#dee0ea;
    }
    .list-ios {
        padding-left: 20px;
        padding-right: 20px;
    }
    .item-ios {
        padding-left: 0;
        background-color: transparent;
    }
    .list-ios .item-block .item-inner {
        padding: 0 10px
    }
    .label-ios {
        display:flex;
        justify-content: space-between;
    }
    .list-ios ion-item-sliding {
        border-radius: 8px;
    }
    .title div {
        width: 80%;
    }
}
